<h2>People</h2>
<h3>Total number of biographies</h3>
<%= @number_of_biographies %>
<h3>Number of female biographies</h3>
<%= @number_of_females %>
<h3>Number of male  biographies</h3>
<%= @number_of_males %>
<h3>Number of unknown biographies</h3>
<%= @number_of_unknown %>
<h3>Percentage of female biographies</h3>
<%= @percentage_female %>

<h3>Names<h3>
<% @people.each do |person| %>
  <p>
  <%= link_to person.name, person %><br />
  gender:<%= person.rough_gender %>
  </p>
<% end %>
