<!DOCTYPE html>
<html>
<head>
  <title>Wikipedia Biographies Scraper</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "Home", root_path %>, <%= link_to "Verified Names", names_path %>, <%= link_to "Random Names", biographies_path %> <%= link_to "Genders", genders_path %>
<%= yield %>

</body>
</html>
